<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${add} ? 'Adicionar Protocolo' : 'Editar Protocolo'"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <h1 th:text="${add} ? 'Adicionar Protocolo:' : 'Editar Protocolo:'" />
        <a th:href="@{/protocols}" class="btn btn-default"><i
                class="fas fa-caret-left ml-2"> Home</i></a>
        <div class="card">
            <div class="card-body">
                <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
                <div class="col-md-12">
                   <form action="#" th:action="${add} ? @{/protocols/add} : @{/protocols/{protocolId}/update(protocolId=${protocol.id})}" th:object="${protocol}" method="POST">
                       <div class="row">
                           <div class="form-group col-md-12" th:if="${protocol.id}">
                               <label  class="col-form-label">Id</label> <td th:utext="${protocol.id}">...</td>
                           </div>
                           <div class="form-group col-md-12">
                               <label for="name" class="col-form-label">Name</label>
                               <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                               <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                           </div>
                           <div class="form-group col-md-12">
                               <label for="email" class="col-form-label">Email</label>
                               <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email">
                               <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                           </div>
                           <div class="form-group col-md-12">
                               <label for="documentId" class="col-form-label">Matricula:</label>
                               <input type="text" th:field="*{documentId}" class="form-control" id="documentId" placeholder="documentId">
                               <span th:if="${#fields.hasErrors('documentId')}" th:errors="*{documentId}" class="text-danger"></span>
                           </div>
                           <div class="form-group col-md-12">
                               <input type="submit" class="btn btn-primary" th:value="${add} ? 'Cadastrar' : 'Editar'">
                           </div>
                       </div>
                   </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>